.bucket-viewport {
    height: 45vh;
    /* Use viewport height for responsiveness */

    width: 100%;
    max-width: 100%;
    /* border: 1px solid #ddd; */
    overflow: auto;
}

.bucket-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.bucket-container h1 {
    text-align: center;
    color: #333;
}

.bucket-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.bucket-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.bucket-item:hover {
    background-color: #f1f1f1;
}





.increment-button {
    display: inline-block;
    font-size: 25px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    transform: scale(1);
    /* Magnify buttons slightly on hover */
    transition: transform 0.3s ease;
}

.decrement-button {
    display: inline-block;
    font-size: 25px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 10px;
    background-color: #ff3300;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    transform: scale(1);
    /* Magnify buttons slightly on hover */
    transition: transform 0.3s ease;
}

.increment-button:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.decrement-button:hover {
    background-color: #950000;
    cursor: pointer;
}

span {
    cursor: pointer;
    user-select: none;
}

.movie-item:hover .increment-button,
.movie-item:hover .decrement-button {
    transform: scale(1.1);
    /* Magnify buttons slightly on hover */
    transition: transform 0.3s ease;
}